services:
  mongo:
    image: mongo
    ports:
      - 27017:27017
    restart: always
    command: ["mongod", "--replSet", "rs0"]
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    restart: always
    environment:
      ME_CONFIG_MONGODB_URL: mongodb://mongo:27017/?replicaSet=rs0
      ME_CONFIG_BASICAUTH_ENABLED: true
      ME_CONFIG_BASICAUTH_USERNAME: mongoexpressuser
      ME_CONFIG_BASICAUTH_PASSWORD: mongoexpresspass

  core:
    image: core
    restart: always
    ports:
      - 8080:8080
    depends_on:
      gateway:
        condition: service_started
      mongo:
        condition: service_started
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/demo?replicaSet=rs0
      SPRING_RABBITMQ_HOST: rabbit
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  gateway:
    image: gateway
    restart: always
    ports:
      - 8000:8000


volumes:
  mongo-data: