spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/demo?replicaSet=rs0&directConnection=true
  docker-client:
    container:
      image-name: java-maven-env
      host-name: demo_default
      download-uri-template: http://host.docker.internal:8080/files/download/%s
      timeout: 60s
    containers:
      build: build_container
      test: test_container
      linter: linter_container
    scripts:
      build: |
        wget -O solution.zip %s && unzip solution.zip -d solution_dir &&
        SOLUTION_DIR_NAME=$(find solution_dir -mindepth 1 -maxdepth 1 -type d | head -n 1) &&
        cd $SOLUTION_DIR_NAME && mvn clean compile -q
      test: |
        wget -O solution.zip %s && unzip solution.zip -d solution_dir &&
        wget -O test.zip %s && unzip test.zip -d test_dir &&
        SOLUTION_DIR_NAME=$(find solution_dir -mindepth 1 -maxdepth 1 -type d | head -n 1) &&
        mv test_dir/test/java/* $SOLUTION_DIR_NAME/src/test/java &&
        cd $SOLUTION_DIR_NAME && mvn clean test -q
      linter: |
        wget -O solution.zip %s && unzip solution.zip -d solution_dir &&
        wget -O linter.zip %s && unzip linter.zip -d linter_dir &&
        SOLUTION_DIR_NAME=$(find solution_dir -mindepth 1 -maxdepth 1 -type d | head -n 1) &&
        mv linter_dir/* $SOLUTION_DIR_NAME/src/main/resources &&
        cd $SOLUTION_DIR_NAME && mvn pmd:check -q
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: Ov23lis8j5aud7s4QZJW
            client-secret: f79ead43c7116914f688dba333e8eb303437f06c
            scope: read:user, user:email, repo
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
